.App {
  text-align: center;
}

.search {
  margin-top: 200px; 
}

.container {
  margin: 0 auto
}

i.icon-yellow {
  color: gold
}

i.icon-green {
  color: green
}

i.icon-black {
  color: black
}

i.icon-blue {
  color: blue
}

i:hover {
  opacity: 0.6
}