.App {
  text-align: center;
}

/* .sort-buttons {
  padding-left: 20px;
  display: inline;
} */

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
  padding: 0px;
}
nav.nav-center ul li a {
  display: inline-block;
}
/* 
.search-title {
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
} */

form {
  margin-top: 30px;
  margin-bottom: 30px
}

.divider {
  border-bottom: 1px dashed teal;
}

.or {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  align-items: center;
  text-align: center;
  grid-gap: 10px;
  width: 100%;
  color: rgb(12, 12, 82);
}

.or:before,
.or:after {
  content: '';
  border-top: 2px solid;
}

.alert {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(199, 0, 0, 0.795);
  color: rgb(53, 0, 0);
  border: 1px rgb(53, 0, 0);
}

.container {
  margin: 0 auto
}

i.icon-yellow {
  color: gold;
}

i.icon-green {
  color: green
}

i.icon-black {
  color: black;
}

i.icon-blue {
  color: blue
}

i:hover {
  opacity: 0.6
}