.App {
  text-align: center;
  height: 100vh;
}

.search {
  margin-top: 200px; 
}

.alert {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.473);
  color: rgb(53, 0, 0);
  border: 1px rgb(53, 0, 0);
}

.container {
  margin: 0 auto
}

i.icon-yellow {
  color: gold
}

i.icon-green {
  color: green
}

i.icon-black {
  color: black
}

i.icon-blue {
  color: blue
}

i:hover {
  opacity: 0.6
}