/* .search {
    width: 50%;
    margin: 0 auto
} */

.search {
    margin: 0 auto;
}


form {
    margin: 10px;
}

.stats{
    background-color: rgba(59, 59, 59, 0.548);
    padding: 10px 10px 100px 10px;
    margin: 20px 20px 50px 20px;
   
}

.totals{
    color: white;
}

.banner{
    color: white;
}
.chart {
    margin: 0 auto;
    height: 250px;
}
.col-pad
{
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .search {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .search,
    .stats {
        width: 90%
    }
}