#heading {
    background-color: rgba(59, 59, 59, 0.548);
    /* padding: 2px 20px 2px 20px; */
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
}

h4 {
    color: white;
}

.btn-div
{
    height: auto;
}